@model GestionAcademica.Models.User
<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>¿Esta seguro/a que desea eliminar el siguiente usuario?</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.UserID)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.UserID)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.UserType.TypeDescription)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.UserType.TypeDescription)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Eliminar" class="btn btn-danger" asp-route-id="@Model.ID" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}