@model GestionAcademica.Web.ViewModels.UserVM

@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<p class="text-right">
    <a data-target="#addNewUserModal" data-toggle="modal" href="#addNewUserModal" class="btn btn-primary">Agregar Nuevo Usuario</a>
</p>
<table class="table" id="table-user">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserType.TypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType.TypeDescription)
                </td>
                <td>
                    <a href="javascript:;" onclick="edit(@item.ID, 0)">Editar Tipo Usuario</a> |
                    <a href="javascript:;" onclick="edit(@item.ID, 1)">Editar Contraseña</a> |
                    <a href="javascript:;" onclick="deleteUser(@item.ID)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Create" />

<div id="partials"></div>

<script>
    $(document).ready(function () {
        $("#table-user").DataTable();
    })
    function edit(id, typeUpdate) {//typeUpdate = 0 => EditType, 1 => EditPassword
        $.ajax({
            url: '/User/Edit',
            type: 'GET',
            data: {
                'id': id,
                'type': typeUpdate
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                var modalId = typeUpdate == 0 ? "#editUserModal" : "#editUserPasswordModal"
                $(modalId).modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteUser(id) {
        $.ajax({
            url: '/User/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#deleteUserModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>
