@model GestionAcademica.Web.ViewModels.CareerVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carreras</h1>
<p class="text-right">
    <a data-target="#addNewCareerModal" data-toggle="modal" href="#addNewCareerModal" class="btn btn-primary">Crear Nueva Carrera</a>
</p>
<table class="table" id="table-career">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Career.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Career.CareerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Career.DegreeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListCareer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CareerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeName)
                </td>
                <td>
                    <a href="javascript:;" onclick="edit(@item.ID)">Editar</a> |
                    @Html.ActionLink("Ver Cursos", "Details", new { id = item.ID }) |
                    <a href="javascript:;" onclick="deleteCareer(@item.ID)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Create" />

<div id="editPartial"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table-career').DataTable();
    })
    function edit(id) {
        $.ajax({
            url: '/Career/Edit',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#editPartial").html(data);
                $("#editCareerModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteCareer(id) {
        $.ajax({
            url: '/Career/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#editPartial").html(data);
                $("#eliminarCareerModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>

