@model GestionAcademica.Web.ViewModels.TeacherVM

@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profesores</h1>

<p class="text-right">
    <a data-target="#addNewTeacherModal" data-toggle="modal" href="#addNewTeacherModal" class="btn btn-outline-dark">Agregar Nuevo Profesor</a>
</p>
<table class="table table-striped" id="table-teachers">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.IdIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TeacherList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdIdentidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a href="javascript:;" onclick="edit(@item.ID)">Editar</a> |
                    <a href="javascript:;" onclick="deleteTeacher(@item.ID)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Create" />

<div id="partials"></div>

<script>
    $(document).ready(function () {
        $("#table-teachers").DataTable();
    })
    function edit(id) {
        $.ajax({
            url: '/Teacher/Edit',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#editTeacherModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteTeacher(id) {
        $.ajax({
            url: '/Teacher/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#deleteTeacherModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>
