@model GestionAcademica.Web.ViewModels.CycleVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ciclos</h1>

<p class="text-right">
    <a data-target="#addNewCycleModal" data-toggle="modal" href="#addNewCycleModal" class="btn btn-outline-dark">Agregar Nuevo Ciclo</a>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cycle.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle.CycleState.StateDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CycleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CycleState.StateDescription)
                </td>
                <td>
                    <a href="javascript:;" onclick="edit(@item.ID)">Editar</a> |
                    <a href="javascript:;" onclick="deleteCycle(@item.ID)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Create" />

<div id="partials"></div>

<script>
    $(document).ready(function () {
        $("#table-user").DataTable();
    })
    function edit(id) {
        $.ajax({
            url: '/Cycle/Edit',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#editCycleModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteCycle(id) {
        $.ajax({
            url: '/Cycle/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#deleteCycleModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>