@model GestionAcademica.Models.Student
<!-- Modal -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>¿Esta seguro/a que desea eliminar el siguiente ciclo?</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdStudent)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdStudent)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ID)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Eliminar" class="btn btn-danger" asp-route-id="@Model.ID" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>