@model GestionAcademica.Web.ViewModels.StudentVM
@{
    ViewData["Title"] = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-right">
    <a data-target="#addNewStudentModal" data-toggle="modal" href="#addNewStudentModal" class="btn btn-primary">Agregar Nuevo Estudiante</a>
</p>>

<h1>Estudiantes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.IdStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    <a href="javascript:;" onclick="edit(@item.ID)">Editar</a> |
                    <a href="javascript:;" onclick="deleteStudent(@item.ID)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Create" />

<div id="partials"></div>

<script>
    $(document).ready(function () {
        $("#table-user").DataTable();
    })
    function edit(id) {
        $.ajax({
            url: '/Student/Edit',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#editStudentModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteStudent(id) {
        $.ajax({
            url: '/Student/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#deleteStudentModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>