@model GestionAcademica.Web.ViewModels.StudentVM
@{
    ViewData["Title"] = "Cursos Matriculados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Estudiante</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupStudent.Student.IdStudent)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupStudent.Student.IdStudent)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupStudent.Student.Name)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupStudent.Student.Name)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupStudent.Student.Email)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupStudent.Student.Email)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupStudent.Student.PhoneNumber)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupStudent.Student.PhoneNumber)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupStudent.Student.Career.CareerName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupStudent.Student.Career.CareerName)</dd>
</dl>

<p class="text-right"><button class="btn btn-outline-primary" onclick="showGroups(@Model.GroupStudent.Student.ID)">Matricular Curso</button></p>

<h3>Cursos Matriculados</h3>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Course.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Course.Credits)</th>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Course.WeeklyHours)</th>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Group.Number)</th>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Group.Schedule)</th>
            <th>@Html.DisplayNameFor(model => model.CourseGroup.Group.Teacher.Name)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CourseGroupsList != null)
        {
            foreach (var item in Model.CourseGroupsList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Course.Credits)</td>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Course.WeeklyHours)</td>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Course.Name)</td>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Group.Number)</td>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Group.Schedule)</td>
                    <td>@Html.DisplayFor(model => model.CourseGroup.Group.Teacher.Name)</td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="partials"></div>

<script>
    function showGroups(studentID) {
        $.ajax({
            url: '/Student/AvailableGroups',
            type: 'GET',
            data: {
                'studentID': studentID
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#enrollGroupModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>