@model GestionAcademica.Models.CareerCourses
<!-- Modal -->
<div class="modal fade" id="eliminarCareerCourseModal" tabindex="-1" aria-labelledby="eliminarCareerCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarCareerCourseModalLabel">¿Esta seguro/a que desea eliminar el siguiente curso?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Course.Code)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Course.Code)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Course.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Course.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Course.Credits)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Course.Credits)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Course.WeeklyHours)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Course.WeeklyHours)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Cycle)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cycle)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="hidden" asp-for="Career.ID" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Eliminar" class="btn btn-outline-dark" asp-route-id="@Model.ID" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>